/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

#Add-Registree-Button {
  border-radius: 20px;
  border: 5px solid #3AFF7D;
  background-color: #FFF; 
  /* color: black; */
  /* font-weight: 700; */
  font-family: "Inter", sans-serif;

  color: #000;
  font-family: Inter;
  /* font-size: 50px; */
  font-style: bold;
  /* font-weight: 700; */
}

.Desktop-menu-grid {
  height: 120px;
  background: linear-gradient(180deg, rgba(24, 212, 113, 0.50) 0%, rgba(19, 229, 121, 0.50) 100%);
}

.Desktop-icon-button {
  border-radius: 15px;
  border: 4px solid #000;
  background-color: red; 
}

.App {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, #414141 0%, rgba(65, 65, 65, 0.00) 100%), #00FF94;
}

.App h1 {
  /* color: #FFC700; */
  /* margin-left: 40px; */
  /* font-weight: normal; */
  color: #FFC700;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
