/* Adding custom fonts: */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

#Add-Registree-Button {
  margin-top: 50px;
  border-radius: 20px;
  border: 5px solid #3AFF7D;
  background-color: #FFF;
  font-family: "Inter", sans-serif;
  color: #000;
  font-family: Inter;
  font-weight: bold;
  font-size: 25px;
}

.Desktop-menu-grid {
  height: 120px;
  background: linear-gradient(180deg, rgba(24, 212, 113, 0.50) 0%, rgba(19, 229, 121, 0.50) 100%);
}

.Desktop-icon-button {
  border-radius: 15px;
  border: 4px solid #000;
  background-color: red;
}

.Overarching-Box {
  height: auto;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, #414141 0%, rgba(65, 65, 65, 0.00) 100%), #00FF94;
  minWidth: 'md';
}

body {
  background-color: black;
}
